* {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 170, 170);
  }
  
  /* Status of Seats */
  .status {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
  }
  
  .seats {
    margin: 30px 20px;
    text-align: center;
  }
  
  /* Styling all boxes */
  .container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .boxes {
    padding: 5px;
    border: 1px solid rgb(204, 45, 45);
    height: 80vh;
    width: 60vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: rgb(207, 209, 68);
  }
  
  .box {
    background-color: rgb(129, 22, 156);
    margin: 3px;
  }
  
  .box:hover {
    background-color: rgb(9, 96, 117);
    cursor: pointer;
  }
  
  .boxClicked {
    background-color: rgba(202, 14, 14, 0.945);
  }