* {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(112, 99, 99, 0.76);
    height: 100%;
}
.clock{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    background-color: #FFF5EE;
    border-radius: 100%;
    border: 10px solid #79614d;
    margin: auto;
}
.clock .center{
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgba(57, 172, 133, 0.89);
    border-radius: 100%;
    top:0;
    bottom:0px;
    right:0;
    left:0;
    margin: auto;
}
.clock .hour{
    width: 5px;
    height: 60%;
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
}
.clock .hour:before {
    content: "";
    height: 30px;
    width: 5px;
    position: absolute;
    background-color: rgb(143, 7, 7);
    top: 108px;
}
.clock .minute{
    width: 3px;
    height: 100%;
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
    transform: rotate(-60deg);
}
.clock .minute:before {
    content: "";
    height: 50px;
    width: 3px;
    position: absolute;
    background-color: rgba(28, 114, 121, 0.925);
    top: 92px;
    left: calc(50%-9px);
}
.clock .second{
    width: 2px;
    height: 100%;
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
    transform: rotate(-120deg);
}
.clock .second:before {
    content: "";
    height: 55px;
    width: 2px;
    position: absolute;
    background-color: orangered;
    top: 87px;
    left: calc(50%-9px);
    
}

